<div class="main" id="principal">

  {{!-- Este div permite ocupar el 100% de pantalla disponible --}}
  <div class="container-fluid">

    {{!-- div centra horizontalmente el contenido --}}
    <div class="d-flex justify-content-center vh-80">

      {{!-- div centra verticalmente el contenido --}}
      <div class="align-items-start w-100 mt-5" id="contenedorprincipal">

        {{!-- Cabecera --}}
        <div class="w-100 mb-5" align="center">
          <h1> Busqueda por Proyectos. </h1>
        </div>


        <div style="height:50px"></div>

        <!--Ejemplo tabla con DataTables-->
        <div class="container">
          <div class=" row mx-auto">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table id="example" class="table-sm table-striped table-bordered" cellspacing="0" width="100%">
                  
                  <thead>
                    <tr>
                      <th>Cvu TecNM</th>
                      <th>Nombre</th>
                      <th>Plantel</th>
                      <th>Rol</th>
                      <th>Titulo</th>
                      <th>Año</th>
                      <th>Clave</th>
                    </tr>
                  </thead>

                  <tbody>
                    {{#each proyectos}}
                    <tr>
                      <th style="background-color: lightgray;">{{cvu_tecnm}}</th>
                      <td>{{nombre}}</td>
                      <td>{{plantel_adscripcion}}</td>
                      <td>{{rol_proyecto}}</td>
                      <td>{{titulo}}</td>
                      <td>{{año}}</td>
                      <td>{{clave_financiamiento}}</td>
                    </tr>
                    {{/each}}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Media queries --}}
<style>
  @media (min-width: 768px) {
    #contenedorprincipal {
      width: 75% !important;
    }
  }

  @media (max-width: 767px) {
    #principal {
      margin-left: 0px !important;
    }
  }
</style>