<div class="main" id="principal">

  {{!-- Este div permite ocupar el 100% de pantalla disponible --}}
  <div class="container-fluid">

    {{!-- div centra horizontalmente el contenido --}}
    <div class="d-flex justify-content-center vh-80">

      {{!-- div centra verticalmente el contenido --}}
      <div class="align-items-start w-100 mt-5" id="contenedorprincipal">

        {{!-- Cabecera --}}
        <div class="w-100 mb-5" align="center">
          <h1> Reporte de Gastos </h1>
          <h1>{{titulo.titulo}}</h1>
        </div>


        <div style="height:50px"></div>

        <!--Ejemplo tabla con DataTables-->
        <div class="container">
          <div class=" row mx-auto">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table id="example" class="table-sm table-striped table-bordered" cellspacing="0" width="100%">
                  
                   <caption >Total: ${{total}}.00 <br>           Proyecto:  {{titulo.titulo}}</caption>
                  
                  <thead>
                   
                    <tr>
                      <th>Descripcion de Material/Servicio</th>
                      <th>Clave Subpartida</th>
                      <th>Monto </th>
                      
                    </tr>
                  </thead>

                  <tbody>
                    {{#each reporte}}
                    <tr>
                      <td>{{descripcionms}}</td>
                      <td>{{clave_subpartida}}</td>
                      <td>$ {{monto_solicitado}}.00</td>
                      
                    </tr>

                    {{/each}}
                           
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Media queries --}}
<style>
  @media (min-width: 768px) {
    #contenedorprincipal {
      width: 75% !important;
    }
  }

  @media (max-width: 767px) {
    #principal {
      margin-left: 0px !important;
    }
  }
</style>