{{!-- LISTAR MATERIALES Y SERVICIOS --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra izquierda --}}
<div class="main" id="principal">

    {{!-- Este div permite ocupar el 100% de pantalla disponible --}}
    <div class="container w-100">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-90">

            {{!-- div centra verticalmente el contenido --}}
            <div class="align-items-start w-100 mt-5" align="center" id="contenedorprincipal">

                {{!-- Cabecera --}}
                <div class="w-100 mb-5">
                    <h1> Lista de materiales y servicios. </h1>
                </div>

                <table class="table-responsive-sm table-hover table-bordered table-striped">

                    <thead>
                        <tr>
                            <th scope="col">Material / Servicio</th>
                            <th scope="col">Clave subpartida</th>
                            <th scope="col">Monto</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each consulta}}
                        <form action="/materialServicio/edit" method="POST">
                            <tr>
                                <th>{{descripcionms}}</th>
                                <td>{{clave_subpartida}}</td>
                                <td><input type="text" value="{{monto_solicitado}}" name="monto_solicitado"></td>

                                <td>
                                    <input type="hidden" value="{{clave_subpartida}}" name="clave_subpartida">
                                    <input type="hidden" value="{{descripcionms}}" name="descripcionms">
                                    <input type="hidden" value="{{id_proyecto}}" name="id_proyecto">
                                    <input type="hidden" value="{{id_material_servicio}}" name="id_material_servicio">
                                    <button class="btn btn-outline-success"><i class="fas fa-save"></i>&ensp;Guardar
                                        cambios</button>
                                </td>

                                <td>
                                    <a href="/materialServicio/delete/{{id_material_servicio}}/{{id_proyecto}}"
                                        class="btn btn-outline-danger"><i class="fas fa-trash"></i>&ensp;Eliminar</a>
                                </td>

                            </tr>
                        </form>

                        {{!-- En caso de que no haya nada registrado --}}
                        {{else}}

                        <div class="card bg-light mb-3" style="max-width: 50rem;">
                            <div class="card-header" align="left"> ¡MENSAJE! </div>
                            <div class="card-body">
                                <p class="card-text"> NO SE ENCUENTRA REGISTRADO NINGUN MATERIAL Y SERVICIO. </p>
                                <a href="/materialServicio/add/{{id_proyecto}}"> Crear nuevo. </a>
                            </div>
                        </div>

                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{!-- Media queries --}}
<style>
    @media (min-width: 768px) {
        #contenedorprincipal {
            width: 75% !important;
        }
    }

    @media (max-width: 767px) {
        #principal {
            margin-left: 0px !important;
        }
    }
</style>