{{!-- Aqui comienza mi disenio --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra izquierda --}}
<div class="main" id="principal">

  {{!-- Este div permite ocupar el 100% de pantalla disponible --}}
  <div class="container w-100">

    {{!-- div centra horizontalmente el contenido --}}
    <div class="d-flex justify-content-center vh-90">

      {{!-- div centra verticalmente el contenido --}}
      <div class="align-items-start w-100 mt-5" align="center" id="contenedorprincipal">

        {{!-- Cabecera --}}
        <div class="w-100 mb-5">
          <h1> Montos del financiamiento. </h1>
        </div>

        {{!-- Comienza la tabla --}}
        <table class="table-responsive-sm table-bordered table-striped table-hover">

          {{!-- Cabecera de la tabla --}}
          <thead>
            <tr>
              <th scope="col">Clave de Financiamiento</th>
              <th scope="col">Clave de la partida</th>
              <th scope="col">Monto aprobado</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>

          {{!-- Cuerpo de la tabla --}}
          <tbody>
            {{#each partidas}}

            <form action="/partida/edit/{{clave_financiamiento}}/{{clave_partida}}" method="POST">

              <tr>
                <th>{{clave_financiamiento}}</th>
                <td>{{clave_partida}}</td>
                <td><input type="text" value={{monto_aprobado}} pattern="[0-9]+" name="monto_aprobado" required></td>
                <td align="center"><button class="btn btn-sm btn-outline-success"><i
                      class="fas fa-save"></i>&ensp;Guardar
                    cambios</button></td>
                <td align="center"><a href="/partida/delete/{{clave_financiamiento}}/{{clave_partida}}"
                    class="btn btn-sm btn-outline-danger"><i class="fas fa-trash"></i>&ensp;Eliminar</a></td>
              </tr>

            </form>

            {{!-- En caso de que no exista partidas guardadas --}}
            {{else}}

            <div class="card bg-light mb-3" style="max-width: 50rem;">
              <div class="card-header" align="left"> ¡MENSAJE! </div>
              <div class="card-body">
                <p class="card-text"> NO SE ENCUENTRA ALMACENADA NINGUNA PARTIDA. </p>
                <a href="/partida/add/{{financiamiento}}"> Crear nueva partida. </a>
              </div>
            </div>
            
            {{/each}}

          </tbody>
        </table>

        <br><br>

        <div align="center">
          {{#if partidas}}
          <a href="/partida/add/{{financiamiento}}" class="btn btn-outline-primary"><i
              class="fas fa-plus"></i>&ensp;Agregar
            partidas</a>
          {{/if}}
        </div><br><br>

      </div>
    </div>
  </div>
</div>

{{!-- Media queries --}}
<style>
  @media (min-width: 768px) {
    #contenedorprincipal {
      width: 75% !important;
    }
  }

  @media (max-width: 767px) {
    #principal {
      margin-left: 0px !important;
    }
  }
</style>