{{!-- Aqui comienza mi disenio --}}
<div class="main" id="contenido">
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto">

                {{!-- Cabecera --}}
                <div class="m-5" align="center">
                    <h1> Editar integrante. </h1>
                    <small class="text-muted">
                        Departamento de Estudios de Posgrado e Investigacion.
                    </small>
                </div>

                {{!-- Campos para editar el integrante --}}
                <form action="/integrantes/edit/{{integrante.cvu_tecnm}}" method="POST">

                    <div class="col" align="left">

                        <div class="form-group">
                            <label for="cvu_tecnm1"> CVU TecNM </label>
                            <input type="text" value="{{integrante.cvu_tecnm}}" name="cvu_tecnm1" class="form-control" onkeypress="verificar(event)" autofocus required>
                        </div>

                        <br>

                        <div class="form-group">
                            <label for="nombre"> Nombre(s) </label>
                            <input type="text" value="{{integrante.nombre}}" name="nombre" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="apellido1"> Primer apellido </label>
                            <input type="text" value="{{integrante.apellido1}}" name="apellido1" class="form-control" onkeypress="verificar(event)" required>
                        </div>

                        <div class="form-group">
                            <label for="apellido2"> Segundo apellido </label>
                            <input type="text" value="{{integrante.apellido2}}" name="apellido2" class="form-control" onkeypress="verificar(event)" required>
                        </div>

                        <br>

                        <div class="form-group">
                            <label for="plantel_adscripcion"> Plantel de adscripcion </label>
                            <input type="text" value="{{integrante.plantel_adscripcion}}" name="plantel_adscripcion" class="form-control" required>
                        </div>

                        <br>

                        <div class="form-group">
                            <label for="email"> Email </label>
                            <input type="text" value="{{integrante.email}}" name="email" class="form-control" onkeypress="verificar(event)" required>
                        </div>

                        <br><br>

                        <div class="form-group">
                            <button class="btn btn-outline-primary btn-block"><i class="fas fa-save"></i>&emsp;Guardar cambios </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function verificar(event) {
    
  var x = event.charCode;
  if(x==32){
      event.preventDefault();
     

  }
}
</script>