{{!-- ADMINISTRADOR -> LISTA DE INTEGRANTES EN EL PROYECTO --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra izquierda --}}
<div class="main" id="principal">

  {{!-- Este div permite ocupar el 100% de pantalla disponible --}}
  <div class="container w-100">

    {{!-- div centra horizontalmente el contenido --}}
    <div class="d-flex justify-content-center vh-90">

      {{!-- div centra verticalmente el contenido --}}
      <div class="align-items-start w-100 mt-5" align="center" id="contenedorprincipal">

        {{!-- Cabecera --}}
        <div class="w-100 mb-5">
          <h1> Lista de integrantes. </h1>
        </div>

        <div class="container">
          <div class=" row mx-auto">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table-sm table-bordered table-striped table-hover" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th scope="col">Rol</th>
                      <th scope="col">No. CVU TecNM</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Plantel de Adscripcion</th>
                      <th scope="col">Eliminar integrante</th>
                      <th scope="col">Editar integrante</th>
                    </tr>
                  </thead>

                  <tbody>
                    {{#each integrantes}}

                    <tr>
                      <th>{{rol_proyecto}}</th>
                      <th>{{cvu_tecnm}}</th>
                      <td>{{nombre}} {{apellido1}} {{apellido2}}</td>
                      <td>{{plantel_adscripcion}}</td>
                      <td><a href="/integrantes/proyecto/delete/{{cvu_tecnm}}/{{id_proyecto}}"
                          class="btn btn-outline-danger btn-sm" id="prueba"><i class="far fa-trash-alt"></i>&ensp;Eliminar </a>
                      </td>
                      <td> <a href="/integrantes/edit/{{cvu_tecnm}}" class="btn btn-outline-warning btn-sm"><i
                            class="fas fa-pencil-alt"></i>&ensp;Editar</a></td>

                    </tr>
                    {{else}}
                    {{#if lider}}
                    <div class="col-m4 mx-auto">
                      <div class="card card-body text-center">
                        <p>NO HAY NINGUN PARTICIPANTE GUARDADO AUN </p>
                        <a href="/integrantes/add"> AGREGAR NUEVO </a>
                      </div>
                    </div>
                    {{/if}}
                    {{/each}}

                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Media queries --}}
<style>
  @media (min-width: 768px) {
    #contenedorprincipal {
      width: 75% !important;
    }
  }

  @media (max-width: 767px) {
    #principal {
      margin-left: 0px !important;
    }
  }
</style>