{{!-- Aqui comienza mi disenio --}}
<div class="main">
  <div class="container-fluid mt-2">

    <div class="m-5" align="center">
      <h1> Lista de integrantes. </h1>
      <small class="text-muted">
        Departamento de Estudios de Posgrado e Investigacion.
      </small>
    </div>

    {{!-- Comienza la tabla --}}
    <table class="table table-sm table-bordered table-striped table-hover">

      {{!-- Cabecera de la tabla. --}}
      <thead>
        <tr>
          <th scope="col">CVU TecNM</th>
          <th scope="col">Nombre(s)</th>
          <th scope="col">Primer apellido</th>
          <th scope="col">Segundo apellido</th>
          <th scope="col">Plantel de Adscripcion</th>
          <th scope="col">Email</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>

        {{!-- Cuerpo de la tabla. --}}
      <tbody>
        {{#each integrantes}}

        <tr>
          <th>{{cvu_tecnm}}</th>
          <td>{{nombre}}</td>
          <td>{{apellido1}}</td>
          <td>{{apellido2}}</td>
          <td>{{plantel_adscripcion}}</td>
          <td>{{email}}</td>
          <td align="center"><a href="/integrantes/edit/{{cvu_tecnm}}" class="btn btn-sm btn-outline-warning">
              <i class="fas fa-user-edit"></i>&ensp;Editar</a></td>
          <td align="center"><a href="/integrantes/delete/{{cvu_tecnm}}" class="btn btn-sm btn-outline-danger"
              id="prueba">
              <i class="fas fa-trash"></i>&ensp;Eliminar</a></td>
        </tr>

        {{!-- En caso de que no existan participantes --}}
        {{else}}
        <div class="col-m4 mx-auto">
          <div class="card card-body text-center">
            <p>NO HAY NINGUN PARTICIPANTE RGISTRADO </p>
            <a href="/integrantes/add"> Agregar </a>
          </div>
        </div>

        {{/each}}
      </tbody>
      </thead>
    </table>
  </div>
</div>