<div class="container p-4">
    <div class="row">
        
<table class="table">
  <thead>
    <tr>
      <th scope="col">cvu_tecnm</th>
      <th scope="col">Nombre</th>
      <th scope="col">apellido1</th>
      <th scope="col">apellido2</th>
      <th scope="col">plantel de Adscripcion</th>
      <th scope="col">email</th>
     <th scope="col">Rol</th>
      <th scope="col">editar</th>
      <th scope="col">eliminar</th>
    </tr>
  </thead>
  
  <tbody>
      {{#each integrantes}}

    
    <tr>
      <th >{{cvu_tecnm}}</th>
      <td>{{nombre}}</td>
      <td>{{apellido1}}</td>
      <td>{{apellido2}}</td>
      <td>{{plantel_adscripcion}}</td>
      <td>{{email}}</td>
       <td>{{rol_proyecto}}</td>
       
      <td><a href="/integrantes/desactivar/{{cvu_tecnm}}" class="btn btn-danger" id="prueba"> Eliminar</a></td>
      <td> <a href="/integrantes/edit/{{cvu_tecnm}}" class="btn btn-secondary">Edit</a></td>
      
    
                   
    </tr>
    {{else}}
        <div class="col-m4 mx-auto">
            <div class="card card-body text-center">
                <p>NO HAY NINGUN PARTICIPANTE GUARDADO AUN </p>
                <a href="/integrantes/add">  AGREGAR NUEVO </a>
            </div>
        </div>
        {{/each}}


        
    
  </tbody>
</table>




    </div>
</div>
