<div class="main" id="contenido">
  <!--Code by Byspel.com -->
  <!--Code by Byspel.com -->

  <!-- Contenedor -->
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-10">
        <!-- Card -->
        <div class="card w-75">

          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <br>
                <!-- Titulo del Card -->
                <h5 class="card-title">Ejemplo</h5>
                <br>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <form id="" action="">

                  <!-- Productos -->
                  <div class="form-group">
                    <label for="state_id" class="control-label">Productos</label>
                    <!-- Boton Agregar -->
                    <input class="btn btn-secondary btn-sm" type="button" title="Agregar Producto" Value="+"
                      onclick="agregar()">
                    <!-- Boton Borrar -->
                    <input class="btn btn-secondary btn-sm" type="button" title="Borrar Producto" Value="-"
                      onclick="borrar()">
                    <br>
                    <br>
                    <!-- Div donde se añadiran los Selects -->
                    <div id="productos">


                      <select class=" custom-select-sm-1 mb-3" name="id_entregable" required id="entregable1">
                        {{#each entregables}}
                        <option value="{{id_entregable}}">{{nombre}}</option>
                        {{/each}}
                      </select>
                    </div>

                    <br>
                    <input class="btn btn-info btn-sm " type="submit" Value="Guardar">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script language="JavaScript">
    //Creacion de Variable incremental
    var incremento = 0;
    //Llenando el arreglo que contendrá los "Options" de nuestro "Select"
    var options = [];
    function rellenarAreglo() {
      var combo = document.getElementById("entregable1");
      var seleccionado = document.getElementById("entregable1").selectedIndex;

      for (i = 0; i < combo.length; i++) {
        if (i != seleccionado) {
          const newEntregable = {
            id_entregable: combo.options[i].value,
            nombre: combo.options[i].text
          };
          options.push(newEntregable);
        }

      }
      console.log(options);


    }
    //Lo que se hará cuando se presione el boton de Agregar

    function removeItemFromArr(arr, item) {
      var i = arr.indexOf(item);

      if (i !== -1) {
        arr.splice(i, 1);
      }
    }

    function agregar(obj) {
      if (incremento == 0) {
        rellenarAreglo();
      }

      incremento++;


      //Obteniendo el Div "productos"
      bloque = document.getElementById('productos');

      //Creando el Select que irá dentro del Div "productos"
      elemento = document.createElement('select');
      elemento.setAttribute("class", "custom-select custom-select-sm-1 mb-3");
      elemento.id = 'select' + incremento;
      bloque.appendChild(elemento);




      console.log(incremento);

      if (incremento > 1) {

        for (i = 1; i < incremento; i++) {
          //console.log(  document.getElementById("select"+i).selectedIndex);


          var combo = document.getElementById("select" + i);

          var texto = combo.options[combo.selectedIndex].value;
          combo.setAttribute("disabled", "true");
          removeItemFromArr(options, texto);

          console.log(options);
        }
      }



      //Agregando nuestros "Options" a nuestro "Select"
      for (var i = 0; i < options.length; i++) {
        var option = document.createElement("option");
        option.value = options[i].id_entregable;
        option.text = options[i].nombre;
        elemento.appendChild(option);
      }
    }


    //Lo que se hará cuando se presione el boton de Borrar
    function borrar(obj) {
      //console.log(options);

      var combo = document.getElementById("select" + (incremento - 1));

      var texto = combo.options[combo.selectedIndex].value;
      combo.removeAttribute("disabled");
      console.log(texto);
      options.push(texto);
      console.log(options);

      incremento = incremento - 1;
      bloque = document.getElementById('productos');


      bloque.removeChild(bloque.lastChild);


    }
  </script>
  <footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </footer>




    <div class="card-body">
      <form action="/entregable/add" method="POST">


        <input type="hidden" name="id_proyecto" value="{{id_proyecto}}">
        <table id="elementos" class="table">
          <thead>
            <tr>
              <th scope="col">Entregable</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tr>

            <td>

              <select name="id_entregable" required id="entregable">
                {{#each entregables}}
                <option value="{{id_entregable}}">{{nombre}}</option>
                {{/each}}
              </select>
            </td>
            <td><input type="number" min="1" max="4" class="form-control" name="cantidad" required></td>

          </tr>

        </table>

        <p>
          <input type="button" onclick="insRow('elementos')" value="agregar nuevo">
          <td><input type="button" value="Eliminar Ultimo" onclick="deleteRow('elementos')"></td>
        </p>




        <div class="col-md-4 mx-auto">
          <div class="card">
            <div class="form-group">
              <button class="btn btn-success btn-block"> Agregar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>

<script>
  function deleteRow(id) {
    document.getE
    var ultimo = document.getElementById("elementos").rows.length - 1;
    if (ultimo > 1) {
      document.getElementById(id).deleteRow(ultimo);
    }
  }

  function borrar(valor) {

    var sel = document.getElementById(valor);

    sel.remove(sel.selectedIndex);
    console.log(sel.length);

  }
  var contador = 1;
  function insRow(id) {
    var nomselect = "entregable" + contador;

    var filas = document.getElementById("elementos").rows.length;
    var combo = document.getElementById("entregable");
    var seleccionado = document.getElementById("entregable").selectedIndex;

    var total = combo.length;
    //var texto=combo.options[seleccionado].text;
    //var va=combo.options[seleccionado].value;

    contador++;
    console.log(nomselect);


    var nuevo = [];
    for (i = 0; i < total; i++) {
      if (i != seleccionado) {
        const newEntregable = {
          id_entregable: combo.options[i].value,
          nombre: combo.options[i].text
        };
        nuevo.push(newEntregable);
      }

    }
    console.log(nuevo);

    var x = document.getElementById(id).insertRow(filas);
    var y = x.insertCell(0);
    var z = x.insertCell(1);


    y.innerHTML = '<td> <select name="id_entregable" id="entregable" required>{{#each entregables}}<option value="{{id_entregable}}">{{nombre}}</option> {{/each}}</select></td>';
    z.innerHTML = '<td><input type="number" min="1" max="4"    class="form-control" name="cantidad" required></td>';

  }
</script>