{{!-- LISTA DE ENTREGABLES --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra izquierda --}}
<div class="main" id="principal">

    {{!-- Este div permite ocupar el 100% de pantalla disponible --}}
    <div class="container w-100">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-90">

            {{!-- div centra verticalmente el contenido --}}
            <div class="align-items-start w-100 mt-5" align="center" id="contenedorprincipal">

                {{!-- Cabecera --}}
                <div class="w-100 mb-5">
                    <h1> Lista de entregables. </h1>
                </div>

                <div class="container">
                    <div class=" row mx-auto">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover" cellspacing="0"
                                    width="100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Contribucion</th>
                                            <!-- <th scope="col">Guardar cambios</th> -->
                                            <!--<th scope="col">Eliminar</th>-->
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {{#each consulta}}
                                        <form action="/entregable/edit" method="POST">
                                            <tr>
                                                <th>{{nombre}}</th>
                                                <!--<td><input type="text" value="{{cantidad}}" name="cantidad" class="form-control"></td>-->
                                                <td>{{cantidad}}</td>
                                                <td>{{contribucion}}</td>
                                                <!--
                                <td>
                                    <input type="hidden" value="{{id_proyecto}}" name="id_proyecto">
                                    <input type="hidden" value="{{id_entregable}}" name="id_entregable">
                                    <button class="btn btn-outline-success"><i class="fas fa-save">
                                        </i>&ensp;Guardar </button>
                                </td>

                                <td><a href="/entregable/delete/{{id_entregable}}/{{id_proyecto}}"
                                        class="btn btn-outline-danger">
                                        <i class="far fa-trash-alt"></i>&ensp;Eliminar </a></td>-->
                                            </tr>
                                        </form>

                                        {{!-- En caso de no encontrar ningun entregable --}}
                                        {{else}}

                                        <div class="card bg-light mb-3" style="max-width: 50rem;">
                                            <div class="card-header" align="left"> ¡MENSAJE! </div>
                                            <div class="card-body">
                                                <p class="card-text"> NO SE ENCUENTRA REGISTRADO NINGUN ENTREGABLE. </p>
                                                {{#if lider}}
                                                <a href="/entregable/add/{{id_proyecto}}"> Crear nuevo. </a>
                                                {{/if}}
                                            </div>
                                        </div>

                                        {{/each}}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Media queries --}}
<style>
    @media (min-width: 768px) {
        #contenedorprincipal {
            width: 75% !important;
        }
    }

    @media (max-width: 767px) {
        #principal {
            margin-left: 0px !important;
        }
    }
</style>