{{!-- EDITAR PROYECTO -> lider de proyectos --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra. --}}
<div class="main" id="principal">

    {{!-- Este div permite ocupar el 100% del espacio vertical disponible --}}
    <div class="container w-100">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-90">

            {{!-- div centra verticalmente el contenido --}}
            <div class="my-auto w-100" align="center" id="contenedorprincipal">

                {{!-- Cabecera --}}
                <div class="w-100 mb-5">
                    <h1> Detalles del proyecto. </h1>
                </div><br><br>

                <form action="/proyecto/edit/{{proyecto.id_proyecto}}" method="POST">

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6" align="right">
                                <label for="titulo"> Nombre del proyecto </label>
                            </div>
                            <div class="col-sm-6" align="left">
                                <input type="text" value="{{proyecto.titulo}}" class="form-control col-sm-10" name="titulo"
                                    autofocus required>
                            </div>
                        </div><br>
<!--
                        <div class="row">
                            <div class="col-sm-6" align="right">
                                <label for="modalidad"> Modalidad </label>
                            </div>
                            <div class="col-sm-6" align="left">
                                <input type="text" value="{{proyecto.modalidad}}" class="form-control col-sm-6" name="modalidad"
                                    required>
                            </div>
                        </div><br>
                        -->

                        <div class="row">
                            <div class="col-sm-6" align="right">
                                <labelfor="fecha_sometido"> Fecha de sometido </label>
                            </div>
                            <div class="col-sm-6" align="left">
                                <input class="form-control col-sm-6" type="date" min="2020-01-01" name="fecha_sometido" required />
                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col-sm-6" align="right">
                                <label for="fecha_dictamen"> Fecha de dictamen </label>
                            </div>
                            <div class="col-sm-6" align="left">
                                <input class="form-control col-sm-6" type="date" min="2020-01-01" name="fecha_dictamen" required />
                            </div>
                        </div><br><br><br>

                    </div>

                    <input type="hidden" value="{{proyecto.clave_financiamiento}}" class="form-control"
                        name="clave_financiamiento">

                    <input type="hidden" value="{{proyecto.cvu_tecnm}}" class="form-control" name="cvu_tecnm">

                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-block col-sm-4"><i class="fas fa-save"></i>&ensp;Guardar
                            cambios</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{{!-- Media queries --}}
<style>
    @media (min-width: 768px) {
        #contenedorprincipal {
            width: 75% !important;
        }
    }

    @media (max-width: 767px) {
        #principal {
            margin-left: 0px !important;
        }
    }
</style>