{{!-- LISTAR SUBPARTIDAS --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra. --}}
<div class="main" id="contenido">

  {{!-- Este div permite ocupar el 100% del espacio vertical disponible --}}
  <div class="container-fluid">

    {{!-- div centra horizontalmente el contenido --}}
    <div class="d-flex justify-content-center vh-90">

      {{!-- div centra verticalmente el contenido --}}
      <div class="align-items-start w-100 mt-5" align="center">

        {{!-- Cabecera --}}
        <div class="m-5" align="center">
          <h1> Glosario de subpartidas. </h1>
        </div>

        {{!-- Comienza la tabla --}}
        <table class="table table-sm table-bordered table-striped table-hover">

          {{!-- Cabecera de la tabla --}}
          <thead>
            <tr>
              <th scope="col">Clave de la Partida</th>
              <th scope="col">Subclave</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar subpartida</th>
            </tr>
          </thead>

          {{!-- Cuerpo de la tbala --}}
          <tbody>
            {{#each subpartidas}}

            <form action="/subpartida/edit/{{clave_subpartida}}" method="POST">

              <tr>
                <input type="hidden" name="clave_partida" value="{{clave_partida}}">
                <th>{{clave_partida}}</th>
                <td>{{clave_subpartida}}</td>
                <td><input type="text" value="{{descripcion}}" name="descripcion" class="form-control"></td>
                <td align="center"><button class="btn btn-sm btn-outline-success"><i
                      class="fas fa-save"></i>&ensp;Guardar cambios</button></td>
                <td align="center"><a href="/subpartida/delete/{{clave_subpartida}}"
                    class="btn btn-sm btn-outline-danger"><i class="fas fa-trash"></i>&ensp;Eliminar</a></td>
              </tr>

            </form>

            {{!-- En caso de no encontrar subpartidas --}}
            {{else}}
            <div class="col-m4 mx-auto">
              <div class="card card-body text-center">
                <p>NO HAY NINGUNA SUBPARTIDA GUARDADO AUN </p>
                <a href="/subpartida/add"> CREAR NUEVO</a>
              </div>
            </div>
            {{/each}}

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>