<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"> Instituto Tecnológico de Oaxaca </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        {{#if user }}
        <input type="hidden" id="username" value="{{user.username}}">
        <li class="nav-item">
          <a  href="#" class="nav-link" id="salir" onclick="confirmar()"> Salir </a>
        </li>

        {{else}}
        <li class="nav-item">
          <a href="/signin" class="nav-link"> Iniciar sesion </a>
        </li>

        {{/if}}


      </ul>
    </div>
  </div>
</nav>

{{#if user}}

<div class="nav-side-menu">

  <div class="brand bg-dark">{{user.rol_sistema}}</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      {{#if admin}}

      {{#if proyectodisponible}}

      <li data-toggle="collapse" data-target="#productsx" class="collapsed active">
        <a href="#"><i class="fab fa-studiovinari fa-lg"></i> Proyecto <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="productsx">
        <li><a href="/proyecto">Regresar</a></li>
      </ul>



      <li data-toggle="collapse" data-target="#products" class="collapsed active">
        <a href="#"><i class="fab fa-studiovinari fa-lg"></i> Informes <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li><a href="/informe/mostrar/{{proyectodisponible.id_proyecto}}">listar</a></li>

      </ul>


      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a href="#"><i class="fab fa-fort-awesome-alt fa-lg"></i> Protocolo <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li class="active"><a href="/protocolo/{{proyectodisponible.id_proyecto}}">ver Protocolo</a></li>

      </ul>


      <li data-toggle="collapse" data-target="#new" class="collapsed">
        <a href="#"><i class="fab fa-pagelines fa-lg"></i> Integrante <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <li class="active"><a href="/integrantes/proyecto/{{proyectodisponible.id_proyecto}}">listar Colaboradores</a>
        </li>
      </ul>

      <li data-toggle="collapse" data-target="#new1" class="collapsed">
        <a href="#"><i class="fa fa-users fa-lg"></i> Entregables <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new1">
        <li class="active"><a href="/entregable/proyecto/{{proyectodisponible.id_proyecto}}">listar Entregables</a></li>
      </ul>


      <li data-toggle="collapse" data-target="#new2" class="collapsed">
        <a href="#"><i class="fa fa-users fa-lg"></i> Material y Servicio<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new2">
        <li class="active"><a href="/MaterialServicio/proyecto/{{proyecto.id_proyecto}}">listar Entregables</a></li>
      </ul>


      {{!-- Aqui comienza el disenio para el Administrador. --}}
      {{else}}

      {{!--Integrantes. --}}
      <li data-toggle="collapse" data-target="#products" class="collapsed active">
        <a href="#"><i class="fas fa-user-plus"></i> Integrantes <span class="arrow"></span></a>
      </li>

      <ul class="sub-menu collapse" id="products">
        <li class="active"><a href="/integrantes/add"> Agregar </a></li>
        <li> <a href="/integrantes"> Listar </a></li>
      </ul>


      {{!-- Cuentas. --}}
      <li data-toggle="collapse" data-target="#products4" class="collapsed active">
        <a href="#"><i class="fas fa-user-alt"></i></i>Cuentas <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products4">
        <li class="active"><a href="/singup"> Agregar </a></li>
        <li><a href="/cuentas"> Listar </a></li>

      </ul>

    <!--

      <li data-toggle="collapse" data-target="#products1" class="collapsed active">
        <a href="#"><i class="fab fa-studiovinari fa-lg"></i> Convocatorias <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products1">
        <li class="active"><a href="/convocatoria/add">agregar</a></li>
        <li><a href="/convocatoria">listar</a></li>

      </ul>

      !-->

      <li data-toggle="collapse" data-target="#products2" class="collapsed active">
        <a href="#"><i class="far fa-money-bill-alt"></i></i>Financiamiento <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products2">
        <li class="active"><a href="/financiamiento/add">agregar</a></li>
        <li><a href="/financiamiento">listar</a></li>

      </ul>

      <li data-toggle="collapse" data-target="#products3" class="collapsed active">
        <a href="#"><i class="fas fa-puzzle-piece"></i></i>Subpartidas <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products3">
        <li class="active"><a href="/subpartida/add">agregar</a></li>
        <li><a href="/subpartida">listar</a></li>

      </ul>




      <li data-toggle="collapse" data-target="#products5" class="collapsed active">
        <a href="#"><i class="fas fa-tasks"></i></i>Proyecto <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products5">
        <li><a href="/proyecto">listar</a></li>


      </ul>

      {{/if}}


      {{/if}}


      {{#if lider}}

      <li data-toggle="collapse" data-target="#productsx" class="collapsed active">
        <a href="#"><i class="fab fa-studiovinari fa-lg"></i> Proyecto <span class="arrow"></span></a>
      </li>

      <ul class="sub-menu collapse" id="productsx">
        <li class="active"><a href="/proyecto/add">Agregar</a></li>
        <li><a href="/proyecto">Listar</a></li>

      </ul>
      {{#if proyectodisponible}}
      <li data-toggle="collapse" data-target="#products" class="collapsed active">
        <a href="#"><i class="fab fa-studiovinari fa-lg"></i> Informes <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li class="active"><a href="/informe/add">agregar</a></li>
        <li><a href="/informe/mostrar/{{proyectodisponible.id_proyecto}}">listar</a></li>

      </ul>


      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a href="#"><i class="fab fa-fort-awesome-alt fa-lg"></i> Protocolo <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li class="active"><a href="/protocolo/add/{{proyectodisponible.id_proyecto}}">agregar Protocolo</a></li>
        <li class="active"><a href="/protocolo/{{proyectodisponible.id_proyecto}}">ver Protocolo</a></li>

      </ul>


      <li data-toggle="collapse" data-target="#new" class="collapsed">
        <a href="#"><i class="fab fa-pagelines fa-lg"></i> Integrante <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <li class="active"><a href="/integrantes/addColaborador/{{proyectodisponible.id_proyecto}}">Agregar
            Colaborador</a>
        </li>
        <li class="active"><a href="/integrantes/proyecto/{{proyectodisponible.id_proyecto}}">listar Colaboradores</a>
        </li>
      </ul>

      <li data-toggle="collapse" data-target="#new1" class="collapsed">
        <a href="#"><i class="fa fa-users fa-lg"></i> Entregables <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new1">
        <li class="active"><a href="/entregable/add/{{proyectodisponible.id_proyecto}}">Agregar Entregables</a></li>
        <li class="active"><a href="/entregable/proyecto/{{proyectodisponible.id_proyecto}}">listar Entregables</a></li>
      </ul>


      <li data-toggle="collapse" data-target="#new2" class="collapsed">
        <a href="#"><i class="fa fa-users fa-lg"></i> Material y Servicio<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new2">
        <li class="active"><a href="/materialServicio/add/{{proyectodisponible.id_proyecto}}">Agregar MyS</a></li>
        <li class="active"><a href="/MaterialServicio/proyecto/{{proyectodisponible.id_proyecto}}">listar Entregables</a></li>
      </ul>
      {{/if}}

      <li>
        <a href="#">
          <i class="fas fa-user-tie fa-lg"></i> Profile
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-users fa-lg"></i> Users
        </a>
      </li>

      {{/if}}




    </ul>
  </div>
</div>

{{/if}}

<script text="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script>

  function confirmar(){

    var us=document.getElementById("username").value;
    var r = confirm( us+"  \n ¿desea salir del sistema?");
  if (r == true) {
   // txt = "You pressed OK!";
window.location.href="/logout";
    
  } else {
    //txt = "You pressed Cancel!";
   
  }
  }
</script>