<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"> Instituto Tecnológico de Oaxaca </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        {{#if user }}
        <li class="nav-item">
          <a class="nav-link" href="/proyecto">proyectos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Integrantes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/integrantes/add">agregar</a>
            <a class="dropdown-item" href="/integrantes">listar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">otro que no sirve aun</a>
          </div>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Convocatorias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/convocatoria/add">agregar</a>
            <a class="dropdown-item" href="/convocatoria">listar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">otro que no sirve aun</a>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Financiamiento
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/financiamiento/add">agregar</a>
            <a class="dropdown-item" href="/financiamiento">listar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">otro que no sirve aun</a>
          </div>
        </li>
        



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Subpartidas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/subpartida/add">agregar</a>
            <a class="dropdown-item" href="/subpartida">listar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">otro que no sirve aun</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/singup">Agregar User </a>
        </li>


        <li class="nav-item">
          <a href="/logout" class="nav-link"> salir</a>
        </li>
        <li class="nav-link">
          {{user.username}}
        </li>

        {{else}}
        <li class="nav-item">
          <a href="/signin" class="nav-link"> Iniciar sesion </a>
        </li>

        {{/if}}


      </ul>

    </div>
  </div>
</nav>









{{#if proyectodisponible}}

<script text="text/javascript" src="http://code.jquery.com/jquery.js"></script>


<div class="nav-side-menu">
  <div class="brand">Mio</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a href="/proyecto/regresar" id="regresar">
          <i class="fas fa-tachometer-alt fa-lg"></i> regresar
        </a>
      </li>

      <li data-toggle="collapse" data-target="#products" class="collapsed active">
        <a href="#"><i class="fab fa-studiovinari fa-lg"></i> Informes <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li class="active"><a href="/informe/add">agregar</a></li>
        <li><a href="/informe/mostrar/{{proyectodisponible.id_proyecto}}">listar</a></li>

      </ul>


      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a href="#"><i class="fab fa-fort-awesome-alt fa-lg"></i> Protocolo <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li class="active"><a href="/protocolo/add/{{proyectodisponible.id_proyecto}}">agregar Protocolo</a></li>
        <li class="active"><a href="/protocolo/{{proyectodisponible.id_proyecto}}">ver Protocolo</a></li>

      </ul>


      <li data-toggle="collapse" data-target="#new" class="collapsed">
        <a href="#"><i class="fab fa-pagelines fa-lg"></i> Integrante <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <li class="active"><a href="/integrantes/addColaborador/{{proyectodisponible.id_proyecto}}">Agregar Colaborador</a></li>
        <li class="active"><a href="/integrantes/proyecto/{{proyectodisponible.id_proyecto}}">listar Colaboradores</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#new1" class="collapsed">
        <a href="#"><i class="fa fa-users fa-lg"></i> Entregables <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new1">
        <li class="active"><a href="/entregable/add/{{proyectodisponible.id_proyecto}}">Agregar Entregables</a></li>
        <li class="active"><a href="/entregable/proyecto/{{proyectodisponible.id_proyecto}}">listar Entregables</a></li>
      </ul>


      <li data-toggle="collapse" data-target="#new2" class="collapsed">
        <a href="#"><i class="fa fa-users fa-lg"></i> Material y Servicio<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new2">
        <li class="active"><a href="/materialServicio/add/{{proyecto.id_proyecto}}">Agregar MyS</a></li>
        <li class="active"><a href="/MaterialServicio/proyecto/{{proyecto.id_proyecto}}">listar Entregables</a></li>
      </ul>


      <li>
        <a href="#">
          <i class="fas fa-user-tie fa-lg"></i> Profile
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-users fa-lg"></i> Users
        </a>
      </li>
    </ul>
  </div>
</div>
{{/if}}

{{!-- Apartir de aqui comienza mi disenio --}}