{{!-- NAVBAR CON FUNCIONES PARA MOVIL --}}

<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"> Instituto Tecnológico de Oaxaca </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">


        {{#if user }}

        {{!-- Si el usuario es adminsitrador --}}
        {{#if admin}}

        {{!-- Si es administrador y entra a los detalles de un proyecto --}}
        {{#if proyectodisponible}}



        {{!-- Protocolo --}}
        <li data-toggle="collapse" data-target="#service" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-file-powerpoint"></i>&ensp;Protocolo <span
              class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse d-sm-none" id="service" style="list-style-type: none;">
          <li><a href="/protocolo/{{proyectodisponible.id_proyecto}}" class="nav-link">Ver</a></li>
        </ul>

        {{!-- Informes --}}
        <li data-toggle="collapse" data-target="#products" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-file-pdf"></i>&ensp;Informes <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse d-sm-none" id="products" style="list-style-type: none;">
          <li><a href="/informe/mostrar/{{proyectodisponible.id_proyecto}}" class="nav-link"> Listar </a></li>
        </ul>

        {{!-- Entregables --}}
        <li data-toggle="collapse" data-target="#new1" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-copy"></i>&ensp;Entregables <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse d-sm-none" id="new1" style="list-style-type: none;">
          <li><a href="/entregable/proyecto/{{proyectodisponible.id_proyecto}}" class="nav-link"> Mostrar
              entregables</a>
          </li>
        </ul>

        {{!-- Materiales y servicios --}}
        <li data-toggle="collapse" data-target="#new2" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-dollar-sign"></i>&ensp;Gastos<span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse d-sm-none" id="new2" style="list-style-type: none;">
          <li><a href="/MaterialServicio/proyecto/{{proyectodisponible.id_proyecto}}" class="nav-link">Mostrar</a>
          </li>
        </ul>

        {{!-- Colaboradores --}}
        <li data-toggle="collapse" data-target="#new" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-user-friends"></i>&ensp;Colaboradores <span
              class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse d-sm-none" id="new" style="list-style-type: none;">
          <li><a href="/integrantes/proyecto/{{proyectodisponible.id_proyecto}}" class="nav-link">Listar</a>
          </li>
        </ul>

        {{!-- Proyecto --}}
        <li data-toggle="collapse" data-target="#productsx" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-arrow-left"></i>&ensp;Proyectos <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse d-sm-none" id="productsx" style="list-style-type: none;">
          <li><a href="/proyecto" class="nav-link">Regresar</a></li>
        </ul>


        {{!-- Si es administrador pero entro a ningun detalle de proyecto --}}
        {{else}}

        {{!--Integrantes. --}}
        <li data-toggle="collapse" data-target="#products" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-user-plus"></i>&ensp;Participantes<span
              class="arrow"></span></a>
        </li>

        <ul class="sub-menu collapse d-sm-none" id="products" style="list-style-type: none;">
          <li><a href="/integrantes/add" class="nav-link"> Agregar </a></li>
          <li><a href="/integrantes" class="nav-link"> Listar </a></li>
        </ul>

        {{!-- Cuentas. --}}
        <li data-toggle="collapse" data-target="#products4" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-user-alt"></i></i>&ensp;Cuentas <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse d-sm-none" id="products4" style="list-style-type: none;">
          <li><a href="/singup" class="nav-link"> Agregar </a></li>
          <li><a href="/cuentas" class="nav-link"> Listar </a></li>
        </ul>

        {{!-- Financiamiento --}}
        <li data-toggle="collapse" data-target="#products2" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-dollar-sign"></i>&ensp;Financiamiento <span
              class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse d-sm-none" id="products2" style="list-style-type: none;">
          <li><a href="/financiamiento/add" class="nav-link"> Agregar </a></li>
          <li><a href="/financiamiento" class="nav-link"> Listar </a></li>
        </ul>

        {{!-- Subpartidas --}}
        <li data-toggle="collapse" data-target="#products3" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-puzzle-piece"></i>&ensp;Subpartidas <span
              class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse d-sm-none" id="products3" style="list-style-type: none;">
          <li><a href="/subpartida/add" class="nav-link"> Agregar </a></li>
          <li><a href="/subpartida" class="nav-link"> Glosario </a></li>
        </ul>

        {{!-- Busqueda --}}
        <li data-toggle="collapse" data-target="#products6" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-search"></i>&ensp;Busqueda<span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse d-sm-none" id="products6" style="list-style-type: none;">
          <li><a href="/reporte/integrantes" class="nav-link">Integrantes</a></li>
          <li><a href="/reporte/proyectos" class="nav-link">Proyectos</a></li>
        </ul>

        {{!-- Proyecto --}}
        <li data-toggle="collapse" data-target="#products5" class="collapsed active d-sm-none">
          <a href="/proyecto/listartodo1" class="nav-link"><i class="fas fa-book"></i>&ensp;Proyectos <span
              class="arrow"></span></a>
        </li>
        {{!-- <ul class="sub-menu collapse d-sm-none" id="products5" style="list-style-type: none;">
          <li><a href="/proyecto" class="nav-link">Listar</a></li>
        </ul> --}}

        {{/if}}

        {{/if}}



        {{!-- Si el usuario es lider --}}
        {{#if lider}}



        {{!-- Si es administrador y entro a los detalles de su proyecto --}}
        {{#if proyectodisponible}}

        <li data-toggle="collapse" data-target="#productsz" class="collapsed active d-sm-none">
          <a href="/proyecto/detalle/{{proyectodisponible.id_proyecto}}" class="nav-link"><i
              class="fas fa-chart-line"></i>&ensp;Avance</a>
        </li>

        {{!-- Protocolo --}}
        <li data-toggle="collapse" data-target="#service" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-file-powerpoint"></i>&ensp;Protocolo <span
              class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse active d-sm-none" id="service" style="list-style-type: none;">
          <li><a href="/protocolo/add/{{proyectodisponible.id_proyecto}}" class="nav-link">Agregar</a></li>
          <li><a href="/protocolo/{{proyectodisponible.id_proyecto}}" class="nav-link">Ver</a>
          </li>
        </ul>

        {{!-- Informes --}}
        <li data-toggle="collapse" data-target="#products" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-file-pdf"></i>&ensp;Informes <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse d-sm-none" id="products" style="list-style-type: none;">
          <li><a href="/informe/add" class="nav-link">Agregar</a></li>
          <li><a href="/informe/mostrar/{{proyectodisponible.id_proyecto}}" class="nav-link">Ver</a></li>
        </ul>

        {{!-- Colaboradores --}}
        <li data-toggle="collapse" data-target="#new" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-user-friends"></i>&ensp;Colaboradores <span
              class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse active d-sm-none" id="new" style="list-style-type: none;">
          <li><a href="/integrantes/addColaborador/{{proyectodisponible.id_proyecto}}" class="nav-link">Agregar
              colaborador</a>
          </li>
          <li><a href="/integrantes/proyecto/{{proyectodisponible.id_proyecto}}" class="nav-link">Ver
              colaboradores</a>
          </li>
        </ul>

        {{!-- Entregables --}}
        <li data-toggle="collapse" data-target="#new1" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-copy"></i>&ensp;Entregables <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse active d-sm-none" id="new1" style="list-style-type: none;">
          <li><a href="/entregable/add/{{proyectodisponible.id_proyecto}}" class="nav-link">Agregar
              entregables</a></li>
          <li><a href="/entregable/proyecto/{{proyectodisponible.id_proyecto}}" class="nav-link">Ver
              entregables</a>
          </li>
        </ul>

        {{!-- Materiales y servicios --}}
        <li data-toggle="collapse" data-target="#new2" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-dollar-sign"></i>&ensp;Gastos
            <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse active d-sm-none" id="new2" style="list-style-type: none;">
          <li><a href="/materialServicio/add/{{proyectodisponible.id_proyecto}}" class="nav-link">Agregar </a></li>
          <li><a href="/MaterialServicio/proyecto/{{proyectodisponible.id_proyecto}}" class="nav-link">Ver materiales y
              servicios</a>
          </li>
        </ul>
        {{/if}}

        {{else}}

        {{!-- Proyecto --}}
        <li data-toggle="collapse" data-target="#productsx" class="collapsed active d-sm-none">
          <a href="#" class="nav-link"><i class="fas fa-book"></i>&ensp;Proyecto <span class="arrow"></span></a>
        </li>

        <ul class="sub-menu collapse d-sm-none" id="productsx" style="list-style-type: none;">
          <li><a href="/proyecto/add" class="nav-link">Agregar</a></li>
          <li><a href="/proyecto" class="nav-link">Ver proyectos</a></li>
        </ul>


        {{/if}}

          <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="notify">
         
        </div>
      </li>

        {{!-- Boton de salir para ADMINISTRADOR y LIDER --}}
        {{!-- Salir --}}

        <input type="hidden" id="username" value="{{user.username}}">
        <li class="nav-item">
          <a href="#" class="nav-link" id="salir" onclick="confirmar()"><i class="fas fa-sign-out-alt"></i>&ensp;Salir
          </a>
        </li>

        {{else}}

        {{!-- Boton de ingresar al sistema --}}
        <li class="nav-item">
          <a href="/signin" class="nav-link"><i class="fas fa-sign-in-alt"></i>&ensp;Ingresar</a>
        </li>

        {{/if}}

      </ul>
    </div>
  </div>
</nav>

{{#if user}}

{{!-- SIDEBAR --}}
<div class="nav-side-menu">

  <div class="brand bg-dark mt-5">{{user.rol_sistema}}</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

      {{!-- Si el usuario es adminsitrador --}}
      {{#if admin}}

      {{!-- Si es administrador y entra a los detalles de un proyecto --}}
      {{#if proyectodisponible}}

      <li data-toggle="collapse" data-target="#productsz" class="collapsed active" style="background-color:#f26419;">
        <a href="/proyecto/detalle/{{proyectodisponible.id_proyecto}}"><i class="fas fa-chart-line"></i>&ensp;Avance
        </a>
      </li>

      {{!-- Protocolo --}}
      <li data-toggle="collapse" data-target="#service" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-file-powerpoint"></i>&ensp;Protocolo <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li><a href="/protocolo/{{proyectodisponible.id_proyecto}}">Ver</a></li>
      </ul>

      {{!-- Informes --}}
      <li data-toggle="collapse" data-target="#products" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-file-pdf"></i>&ensp;Informes <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li><a href="/informe/mostrar/{{proyectodisponible.id_proyecto}}">Listar</a></li>
      </ul>

      {{!-- Entregables --}}
      <li data-toggle="collapse" data-target="#new1" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-copy"></i>&ensp;Entregables <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new1">
        <li><a href="/entregable/proyecto/{{proyectodisponible.id_proyecto}}">Mostrar entregables</a></li>
      </ul>

      {{!-- Gastos --}}
      <li data-toggle="collapse" data-target="#new2" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-dollar-sign"></i>&ensp;Gastos<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new2">
        <li><a href="/MaterialServicio/proyecto/{{proyectodisponible.id_proyecto}}">Mostrar</a></li>
      </ul>

      {{!-- Colaboradores --}}
      <li data-toggle="collapse" data-target="#new" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-user-friends"></i>&ensp;Colaboradores <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <li><a href="/integrantes/proyecto/{{proyectodisponible.id_proyecto}}">Listar</a>
        </li>
      </ul>

      {{!-- Proyecto --}}
      <li data-toggle="collapse" data-target="#productsx" class="collapsed active">
        <a href="/proyecto"><i class="fas fa-arrow-left"></i>&ensp;Proyectos <span class="arrow"></span></a>
      </li>
      



      {{!-- Si es administrador pero no tiene proyectos disponibles --}}
      {{else}}

      {{!--Integrantes. --}}
      <li data-toggle="collapse" data-target="#products" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-user-plus"></i>&ensp;Participantes <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li><a href="/integrantes/add"> Agregar </a></li>
        <li><a href="/integrantes"> Listar </a></li>
      </ul>

      {{!-- Cuentas. --}}
      <li data-toggle="collapse" data-target="#products4" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-user-alt"></i></i>&ensp;Cuentas <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products4">
        <li><a href="/singup"> Agregar </a></li>
        <li><a href="/cuentas"> Listar </a></li>
      </ul>

      {{!-- Financiamiento --}}
      <li data-toggle="collapse" data-target="#products2" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-dollar-sign"></i>Financiamiento<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products2">
        <li><a href="/financiamiento/add">Agregar</a></li>
        <li><a href="/financiamiento">Listar</a></li>
      </ul>

      {{!-- Subpartidas --}}
      <li data-toggle="collapse" data-target="#products3" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-puzzle-piece"></i>&ensp;Subpartidas <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products3">
        <li><a href="/subpartida/add">Agregar</a></li>
        <li><a href="/subpartida">Glosario</a></li>
      </ul>

      {{!-- Busqueda --}}
      <li data-toggle="collapse" data-target="#products6" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-search"></i>&ensp;Busqueda <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products6">
        <li><a href="/reporte/integrantes">Integrantes</a></li>
        <li><a href="/reporte/proyectos">Proyectos</a></li>
      </ul>

      {{!-- Proyecto --}}
      <li data-toggle="collapse" data-target="#products5" class="collapsed active" style="background-color:#f26419;">
        <a href="/proyecto/listartodo1"><i class="fas fa-book"></i>&ensp;Proyectos</a>
      </li>
      {{!-- <ul class="sub-menu collapse" id="products5">
        <li><a href="/proyecto">Listar</a></li>
      </ul>
      <ul class="sub-menu collapse" id="products5">
        <li><a href="/proyecto/listartodo1">Listar Todo</a></li>
      </ul> --}}

      {{!-- Cuenta -> Contrasenia --}}

      <!--historico-->
      <li data-toggle="collapse" data-target="#products10" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-search"></i>&ensp;Historico <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products10">
        <li><a href="/proyecto/historico/add">Agregar </a></li>
        <li><a href="/proyecto/listarHistorico">Años Anteriores</a></li>
      </ul>
      <li data-toggle="collapse" data-target="#products7" class="collapsed active">
        <a href="/reset"><i class="fas fa-cog"></i>&ensp;Cuenta</a>
      </li>





      {{/if}}

      {{/if}}


      {{!-- Si el usuario es lider --}}
      {{#if lider}}

      {{#if proyectodisponible}}
      <li data-toggle="collapse" data-target="#productsz" class="collapsed active" style="background-color:#f26419;">
        <a href="/proyecto/detalle/{{proyectodisponible.id_proyecto}}"><i class="fas fa-chart-line"></i>&ensp;Avance
        </a>
      </li>
      {{else}}

      {{!-- Proyecto --}}
      <li data-toggle="collapse" data-target="#productsx" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-book"></i>&ensp;Proyecto <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="productsx">
        <li><a href="/proyecto/add">Agregar</a></li>
        <li><a href="/proyecto">Ver Proyecto</a></li>
      </ul>

      {{!-- Cuenta -> Contrasenia --}}
      <li data-toggle="collapse" data-target="#products7" class="collapsed active">
        <a href="/reset"><i class="fas fa-cog"></i>&ensp;Cuenta</a>
      </li>
      {{/if}}

      {{!-- Si es administrador y entro a los detalles de su proyecto --}}
      {{#if proyectodisponible}}

      {{!-- Protocolo --}}
      <li data-toggle="collapse" data-target="#service" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-file-powerpoint"></i>&ensp;Protocolo <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li><a href="/protocolo/add/{{proyectodisponible.id_proyecto}}">Agregar</a></li>
        <li><a href="/protocolo/{{proyectodisponible.id_proyecto}}">Ver</a></li>
      </ul>

      {{!-- Informes --}}
      <li data-toggle="collapse" data-target="#products" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-file-pdf"></i>&ensp;Informes <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products">

        <li><a href="/informe/mostrar/{{proyectodisponible.id_proyecto}}">Ver</a></li>
      </ul>

      {{!-- Colaboradores --}}
      <li data-toggle="collapse" data-target="#new" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-user-friends"></i>&ensp;Colaboradores <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <li><a href="/integrantes/addColaborador/{{proyectodisponible.id_proyecto}}">Agregar
            colaborador</a>
        </li>
        <li class="active"><a href="/integrantes/proyecto/{{proyectodisponible.id_proyecto}}">Ver colaboradores</a>
        </li>
      </ul>

      {{!-- Entregables --}}
      <li data-toggle="collapse" data-target="#new1" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-copy"></i>&ensp;Entregables <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new1">
        <li><a href="/entregable/add/{{proyectodisponible.id_proyecto}}">Agregar entregables</a></li>
        <li><a href="/entregable/proyecto/{{proyectodisponible.id_proyecto}}">Ver entregables</a></li>
      </ul>

      {{!-- Materiales y servicios --}}
      <li data-toggle="collapse" data-target="#new2" class="collapsed active" style="background-color:#f26419;">
        <a href="#"><i class="fas fa-dollar-sign"></i>&ensp;Gastos<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new2">
        <li><a href="/materialServicio/add/{{proyectodisponible.id_proyecto}}">Agregar</a></li>
        <li><a href="/MaterialServicio/proyecto/{{proyectodisponible.id_proyecto}}">Ver</a></li>
      </ul>

      {{!-- Regresar --}}
      <li data-toggle="collapse" data-target="#productsz" class="collapsed active">
        <a href="/proyecto"><i class="fas fa-arrow-left"></i>&ensp;Regresar </a>
      </li>

      {{/if}}

      {{/if}}

    </ul>
  </div>
</div>

{{/if}}

{{!-- Validaciones con JS --}}
<script text="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script>

  function confirmar() {

    var us = document.getElementById("username").value;
    var r = confirm(us + "  \n ¿desea salir del sistema?");
    if (r == true) {
      // txt = "You pressed OK!";
      window.location.href = "/logout";

    } else {
      //txt = "You pressed Cancel!";

    }
  }
  window.onload=not;
  function not(){
    let notif=document.getElementById("notify");
    for(i=0;i<4;i++){
        var newhref= document.createElement("a");
        newhref.setAttribute("class","dropdown-item");
        newhref.innerHTML="hola tu fecha de informe "+i;
        notif.appendChild(newhref);
    }
  }
</script>