{{!-- <div class="main" id="contenido">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="/financiamiento/edit/{{financiamiento.clave_financiamiento}}" method="POST">

                            <div class="form-group">
                                <input type="text" class="form-control" name="clave_financiamiento"
                                    value="{{financiamiento.clave_financiamiento}}" disabled>

                            </div>

                            <div class="form-group">
                                FECHA DE INICIO
                                <input type="date" value="{{financiamiento.vigencia_inicio }}" name="vigencia_inicio"
                                    min="2020-01-01" max="2020-12-31" step="1" required />
                                <!-- Campo de entrada de hora -->

                            </div>
                            <div class="form-group">
                                FECHA DE EXPIRACION

                                <input type="date" value="{{financiamiento.vigencia_fin}}" name="vigencia_fin"
                                    min="2020-01-01" max="2020-12-31" step="1" required />
                                <!-- Campo de entrada de hora -->

                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-block"> Editar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}

{{!-- Aqui comienza mi disenio --}}
<div class="main">
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="mx-auto">

                {{!-- Cabecera --}}
                <div class="m-5" align="center">
                    <h1> Detalles del financiamiento. </h1>
                    <small class="text-muted">
                        Departamento de Estudios de Posgrado e Investigacion.
                    </small>
                </div>

                <form action="/financiamiento/edit/{{financiamiento.clave_financiamiento}}" method="POST">

                    <div class="form-group">
                        <label for="clave_financiamiento"> Clave de financiamiento </label>
                        <input type="text" class="form-control" name="clave_financiamiento"
                            value="{{financiamiento.clave_financiamiento}}" disabled>
                    </div><br>

                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="vigencia_inicio"> Fecha de inicio </label>
                        <div class="col-8">
                            <input class="form-control" type="date" value="{{financiamiento.vigencia_inicio }}"
                                name="vigencia_inicio" min="2020-01-01" max="2020-12-31" step="1" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="vigencia_fin"> Fecha de expiracion </label>
                        <div class="col-8">
                            <input class="form-control" type="date" value="{{financiamiento.vigencia_fin}}"
                                name="vigencia_fin" min="2020-01-01" max="2020-12-31" step="1" required />
                        </div>
                    </div><br><br>

                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-block"><i class="fas fa-edit"></i>&ensp;Guardar cambios</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>