<div class="container p-4">
    <div class="row">
        
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre del Archivo</th>
      <th scope="col">Notas</th>
      <th scope="col">URL</th>
      <th scope="col">Anotaciones</th>
      

    </tr>
  </thead>
 
  <tbody>
      {{#if protocolo}}
    <tr>
      <th >{{protocolo.nombre_archivo}}</th>
      <th >{{protocolo.anotaciones}}</th>
      <input type="hidden" name="id_proyecto" value="{{protocolo.id_proyecto}}">
      <td><a href="/protocolo/leer/{{protocolo.id_proyecto}}" class="btn btn-secondary"> ver</a></td>
      
      
      <td><a href="/proyecto/anotar/" class="btn btn-danger"> anotar</a></td>
      
    
                   
    </tr>
    {{else}}
        <div class="col-m4 mx-auto">
            <div class="card card-body text-center">
                <p>NO HAY NINGUNa CONVOCATORIA GUARDADO AUN </p>
                <a href="/convocatoria/add"> CREAR NUEVO</a>
            </div>
        </div>
        {{/if}}
    
  </tbody>
</table>




    </div>
</div>