<div class="main" id="contenido">
  <div class="container p-4">
    <div class="row">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre del Archivo</th>
            <th scope="col">URL</th>
            {{#if admin}}
            <th scope="col">Anotaciones</th>
          {{/if}}

          </tr>
        </thead>

        <tbody>
          {{#if protocolo}}
          <tr>
            <th>{{protocolo.nombre_archivo}}</th>
            <input type="hidden" name="id_proyecto" value="{{protocolo.id_proyecto}}">
            <input type="hidden" name="observaciones" id="observaciones" value="{{protocolo.anotaciones}}">
            <td><a href="/protocolo/leer/{{protocolo.id_proyecto}}" class="btn btn-secondary" target="blank"> ver</a></td>

 {{#if admin}}
            <td><a href="/protocolo/observaciones/{{id_proyecto}}" class="btn btn-danger"> Realizar observaciones</a></td>
{{/if}}


          </tr>
          {{else}}
          <div class="col-m4 mx-auto">
            <div class="card card-body text-center">
              <p>NO TIENE AGREGADO SU PROTOCOLO AUN </p>
              <a href="/protocolo/add/{{id_proyecto}}"> CREAR NUEVO</a>
            </div>
          </div>
          {{/if}}

        </tbody>
      </table>

<div class="form-group" id="entrada" >

</div>




    </div>
  </div>
</div>



<script>
  window.onload =load;

function load(){

var resul= document.getElementById("observaciones").value;

var div= document.getElementById("entrada");
if(resul.length>0){


var etiqueta= document.createElement("label");
etiqueta.innerHTML="Observaciones realizadas por el Coordinador :";


div.appendChild(etiqueta);
var salto= document.createElement("br");
div.appendChild(salto);

var textarea=document.createElement("textarea");
textarea.setAttribute("cols","50");
textarea.setAttribute("rows","10");
textarea.setAttribute("readonly","true");
textarea.value=resul;
div.appendChild(textarea);





}else{

var etiqueta= document.createElement("label");
etiqueta.innerHTML="No se ha realizado observacion ";


div.appendChild(etiqueta);

}


}
</script>