{{!-- LISTA DE CUENTAS. --}}

{{!-- Div que permite la barra izquierda --}}
<div class="main" id="principal">

  {{!-- div que permite ocupar el 100% de la pantalla --}}
  <div class="container w-100">

    {{!-- div centra horizontalmente el contenido --}}
    <div class="d-flex justify-content-center vh-90">

      {{!-- div centra verticalmente el contenido --}}
      <div class="align-items-start w-100 mt-5" align="center" id="contenedorprincipal">

        {{!-- Cabecera --}}
        <div class="w-100 mb-5">
          <h1> Lista de cuentas. </h1>
        </div>

        {{!-- Comienza la tabla --}}
        <table class="table-responsive-sm table-hover table-bordered table-striped">

          {{!-- Cabecera de la tabla --}}
          <thead>
            <tr>
              <th scope="col">Usuario</th>
              <th scope="col">Cvu_tecNM</th>
              {{!-- <th scope="col">Contraseña</th> --}}
              <th scope="col">Estado</th>
              <th scope="col">Suspender/Activar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>

          {{!-- Cuerpo de la tabla --}}
          <tbody>
            {{#each users}}

            <tr>
              <th>{{username}}</th>
              <td>{{cvu_tecnm}}</td>
              {{!-- <td>{{password}}</td> --}}
              <td>{{estado}}</td>
              <td align="center"> <a href="/cambiarestado/{{cvu_tecnm}}" class="btn btn-sm btn-outline-secondary"><i
                    class="fas fa-times-circle"></i>&ensp;Suspender/activar</a></td>
              <td align="center"><a href="/deleteuser/{{cvu_tecnm}}" class="btn btn-sm btn-outline-danger"
                  id="prueba"><i class="fas fa-trash"></i>&ensp;Eliminar</a></td>
            </tr>

            {{!-- En caso de que la tabla no contenga ningun elemento --}}
            {{else}}

            <div class="card bg-light mb-3" style="max-width: 50rem;">
              <div class="card-header" align="left"> ¡MENSAJE! </div>
              <div class="card-body">
                <p class="card-text"> NO SE ENCUENTRA NINGUNA CUENTA REGISTRADA. </p>
                <a href="/financiamiento/add"> Crear nueva cuenta a integrante. </a>
              </div>
            </div>

            <div class="col-m4 mx-auto">
              <div class="card card-body text-center">
                <p>NO HAY NINGUN PARTICIPANTE GUARDADO AUN </p>
                <a href="/integrantes/add"> Agregar nuevo </a>
              </div>
            </div>
            {{/each}}

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

{{!-- Media queries --}}
<style>
  @media (min-width: 768px) {
    #contenedorprincipal {
      width: 75% !important;
    }
  }

  @media (max-width: 767px) {
    #principal {
      margin-left: 0px !important;
    }
  }
</style>