{{!-- CREAR CUENTAS A INTEGRANTES --}}

{{!-- Div que permite la barra izquierda --}}
<div class="main" id="contenido">

    {{!-- div que permite ocupar el 100% de la pantalla --}}
    <div class="container-fluid">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-90">

            {{!-- div centra verticalmente el contenido --}}
            <div class="my-auto w-25" align="center">

                {{!-- Cabecera --}}
                <div class="m-5" align="center">
                    <h1> Crear cuenta a integrante. </h1>
                </div>

                <div align="center">
                    <h3>
                        <small class="text-muted">
                            Lista de integrantes registrados.
                        </small>
                    </h3>
                </div>

                {{!-- Comienza el formulario para crear cuentas --}}
                <form action="/singup" method="POST">

                    <div class="col" align="center">

                        <div class="form-group">
                            <select name="cvu_tecnm" class="form-control" id="cvu_tecnm" onchange="consultarCorreo()">
                                <option value=""required>Seleccione un integrante </option>
                                {{#each responsables }}
                                <option value="{{cvu_tecnm}}" required> {{nombre}} {{apellido1}} {{apellido2}} </option>
                                {{/each}}
                            </select>

                            <select hidden name="email" class="form-control" id="email">
                                <option value="" > </option>
                                {{#each responsables }}
                                <option value="{{cvu_tecnm}}">{{email}} </option>
                                {{/each}}
                            </select>
                        </div>

                        <a href="integrantes/add"> Si el usuario no se encuentra registrado haga click aqui </a>
                        <br>

                        <div class="mt-5" align="left">
                            <div class="form-group">
                                <label for="usernam"> Correo electronico </label>
                                <input type="email" id="username1" name="username" class="form-control"  required>
                            </div>

                            <div class="form-group">
                                <label for="password"> Contraseña generada automaticamente  </label>
                                <input type="password" id="password" name="password" class="form-control"
                                    title="Una contraseña válida es un conjuto de caracteres, donde cada uno consiste de una letra mayúscula o minúscula, o un dígito. La contraseña debe empezar con una letra y contener al menor un dígito"
                                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" onkeypress="verificar(event)"
                                    required>
                            </div>
                            <br>

                            <div align="center">
                                <h3>
                                    <small class="text-muted">
                                        Seleccione un rol para el integrante.
                                    </small>
                                </h3>
                            </div>

                            <div class="form-group" align="center">
                                <select name="rol_sistema" class="form-control">
                                    <option value="Administrador">Administrador</option>
                                    <option value="Responsable" Selected> Lider de proyecto</option>
                                </select>
                            </div>

                            <br><br>

                            <div class="form-group" align="center">
                                <button class="btn btn-outline-primary btn-block col-sm-4"> <i
                                        class="fas fa-user-alt"></i>&emsp;Registrar </button>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    function verificar(event) {

        var x = event.charCode;
        if (x == 32) {
            event.preventDefault();

        }
    }

    window.onload = generarcontraseña;

    function generarcontraseña() {

        var a = document.getElementById("password");
        // paso 1 - pedir un número al usuario

        var abecedaria = ["a", "A", "b", "B", "c", "C", "d", "D", "e", "E", "f", "F", "g", "G", "h", "H", "i", "I", "j", "J", "k", "K", "l", "L", "m", "M", "n", "N", "o", "O", "p", "P", "q", "Q", "r", "R", "s", "S", "t", "T", "u", "U", "v", "V", "w", "W", "x", "X", "y", "Y", "z", "Z", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];
        var abecedario = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];
        var numero = 10;
        var numeroAleatorio = 3;

        // paso 2 - escribir x caracteres
        var contraseña = "";
        var mayus = false;
        var minus = false;
        var num = false;
        for (var i = 0; i < numero; i++) {
            numeroAleatorio = parseInt(Math.random() * abecedario.length);
            contraseña += abecedario[numeroAleatorio]
            if (numeroAleatorio>=0 && numeroAleatorio<26){ minus=true;}
            if (numeroAleatorio>=26 && numeroAleatorio<52){mayus=true;}
            if (numeroAleatorio>=52 && numeroAleatorio<=62){num=true;}

        }
        if(minus &&mayus &&num){
            a.value = contraseña;

        }else{
            generarcontraseña();
        }
        console.log(contraseña);



      
        // paso 3 - conseguir que cada caracter sea aleatorio.

        // paso 4 - tenemos x caracteres aleatorios
    }



    function consultarCorreo() {
        var a = document.getElementById("cvu_tecnm");
        var indice = a.selectedIndex;
        var b = document.getElementById("email");

        if (a.value == b[indice].value) {

            var c = document.getElementById("username1")
            console.log(c);
            c.value = b[indice].text;
        } else {

            console.log("no son iguales");
        }



    }

</script>