<div class="main" id="contenido">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="/informe/cargar/{{id_informe}}" method="POST" enctype="multipart/form-data">

                            

                            {{#if resultado}}
                            <input type="hidden" id="resultado" value="{{resultado.id_proyecto}}" >
                            <label for="etiqueta">recuerde que la revision solo es una vez </label>
                            <input type="hidden" id="revisiones" value="{{resultado.intentos}}" >
                            <input type="hidden" id="inf" value="{{resultado.id_informe}}" >
                            {{/if}}
                            <div class="form-group">
                                <label for="">Proyecto: {{proyectodisponible.titulo}}</label>
                                <input  type="file"  id="archivo" name="archivo" accept=".pdf" max="1" min="1"  required>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="btnInforme" class="btn btn-success btn-block"> Guardar</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
window.onload =load;

function load(){

var resul= document.getElementById("resultado");
//var intentos=resul.value;
//console.log(intentos);
if(resul ){
var intentos=document.getElementById("revisiones").value;
if(intentos<=1){
  var r = confirm("Ya tiene un archivo agregado desea remplazarlo?\n En caso de ser asi revise su archivo porque solo se permite 1 revision");
  if (r == true) {
   // txt = "You pressed OK!";

    
  } else {
    //txt = "You pressed Cancel!";
    var x=document.getElementById("inf").value;

    window.location.href = "/informe/verInforme/"+x+ '/' + resul.value;
  }
}else{
    
    //boton.setAttribute("disabled","true");
    alert("ya  no puede cargar mas archivos");
window.location.href = "/informe/mostrar/"+resul.value;


}
  
}else{
console.log("no hay")

}


}




</script>