{{!-- SUBIR PDF INFORMES -> lider de proyecto --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra. --}}
<div class="main" id="principal">

    {{!-- Este div permite ocupar el 100% del espacio vertical disponible --}}
    <div class="container w-100">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-80">

            {{!-- div centra verticalmente el contenido --}}
            <div class="align-items-start w-100 mt-5" align="center" id="contenedorprincipal">

                <div class="w-100 mb-5">
                    <h1> Subir Informe </h1>
                </div>

                <div class="d-flex justify-content-center">
                    <form action="/informe/cargar/{{id_informe}}" method="POST" enctype="multipart/form-data">

                        {{#if resultado}}
                        <input type="hidden" id="resultado" value="{{resultado.id_proyecto}}">
                        <label for="etiqueta"> Recuerde que la revision solo es una vez </label>
                        <input type="hidden" id="revisiones" value="{{resultado.intentos}}">
                        <input type="hidden" id="inf" value="{{resultado.id_informe}}">
                        {{/if}}

                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12" align="center">
                                    <h1>
                                        <small class="text-muted"> Proyecto: {{proyectodisponible.titulo}}</small>
                                    </h1>
                                </div>
                            </div><br><br>

                            <div class="row">
                                <div class="col-sm-12">
                                    <form>
                                        <div class="custom-file">
                                            <input type="file" id="archivo" name="archivo" accept=".pdf" max="1" min="1"
                                                class="custom-file-input col-sm-12" required>
                                            <label class="custom-file-label" for="archivo" align="left">
                                                Seleccionar
                                                un archivo </label>
                                        </div>
                                    </form>
                                </div>
                            </div><br><br>

                            <div class="row">
                                <div class="col-sm-12" align="center">
                                    <div class="form-group">
                                        <button type="submit" id="btnInforme"
                                            class="btn btn-secondary btn-block col-sm-6">
                                            <i class="fas fa-upload"></i>&ensp;Subir archivo</button>
                                    </div>
                                </div>
                            </div>
                        </div><br><br>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{{!-- Media queries --}}
<style>
    @media (min-width: 768px) {
        #contenedorprincipal {
            width: 75% !important;
        }
    }

    @media (max-width: 767px) {
        #principal {
            margin-left: 0px !important;
        }
    }
</style>

{{!-- Script para mostrar el nombre del archivo que fue seleccionado --}}
<script>
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>


{{!-- Validaciones con JS --}}
<script>
    window.onload = load;

    function load() {

        var resul = document.getElementById("resultado");
        //var intentos=resul.value;
        //console.log(intentos);
        if (resul) {
            var intentos = document.getElementById("revisiones").value;
            if (intentos <= 1) {
                var r = confirm("Ya tiene un archivo agregado ¿Desea remplazarlo?\nEn caso de ser asi revise su archivo porque solo se permite 1 revision");
                if (r == true) {
                    // txt = "You pressed OK!";

                } else {
                    //txt = "You pressed Cancel!";
                    var x = document.getElementById("inf").value;

                    window.location.href = "/informe/verInforme/" + x + '/' + resul.value;
                }
            } else {

                //boton.setAttribute("disabled","true");
                alert("ya  no puede cargar mas archivos");
                window.location.href = "/informe/mostrar/" + resul.value;

            }

        } else {
            console.log("no hay")

        }

    }

</script>