{{!-- LISTA DE INFORMES -> lider de proyecto. --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra. --}}
<div class="main" id="principal">

  {{!-- Este div permite ocupar el 100% del espacio vertical disponible --}}
  <div class="container w-100">

    {{!-- div centra horizontalmente el contenido --}}
    <div class="d-flex justify-content-center vh-80">

      {{!-- div centra verticalmente el contenido --}}
      <div class="align-items-start w-100 mt-5" align="center" id="contenedorprincipal">

        <div class="w-100 mb-5">
          <h1> Lista de Informes  </h1>
        </div>

        <div class="container">
          <div class=" row mx-auto">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table-sm table-bordered table-striped table-hover" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th scope="col"> No. Informe </th>
                      <th scope="col"> Fecha de inicio </th>
                      <th scope="col"> Fecha final </th>
                      <th scope="col"> Cambiar </th>
                      <th scope="col"> Visualizar </th>
                    </tr>
                  </thead>

                  <tbody>
                    {{#each consulta}}
                    <form action="/informe/edit/{{id_informe}}" method="POST">
                      <tr>
                        <th> {{no_informe}}<input type="hidden" value={{no_informe}} name="no_informe"></th>
                        <td><input type="text" class="" value="{{fecha_inicio}}" name="fecha_inicio" readonly></td>
                        <td><input type="date" class="" value="{{fecha_fin}}" min="{{fecha_fin}}" name="fecha_fin" required></td>

                        <td>
                          <button class="btn btn-outline-success btn-sm"><i class="fas fa-save"></i>&ensp; Guardar
                            cambios</button>
                        </td>
                        <td><a href="/informe/verInforme/{{id_informe}}/{{id_proyecto}}" class="btn btn-outline-info btn-sm"><i
                              class="far fa-eye"></i>&ensp;Ver </a></td>

                      </tr>
                      <input type="hidden" name="id_proyecto" id="" value="{{id_proyecto}}">
                    </form>
                    {{else}}
                    <div class="col-m4 mx-auto">
                      <div class="card card-body text-center">
                        <p>NO HAY NINGUN informe para este proyecto GUARDADO AUN </p>
                        {{#if lider}}
                        <a href="/informe/add"> CREAR NUEVO</a>
                        {{/if}}
                      </div>
                    </div>
                    {{/each}}

                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Media queries --}}
<style>
  @media (min-width: 768px) {
    #contenedorprincipal {
      width: 75% !important;
    }
  }

  @media (max-width: 767px) {
    #principal {
      margin-left: 0px !important;
    }
  }
</style>