{{!-- LISTA DE INFORMES -> lider de proyecto --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra. --}}
<div class="main" id="principal">

  {{!-- Este div permite ocupar el 100% del espacio vertical disponible --}}
  <div class="container w-100">

    {{!-- div centra horizontalmente el contenido --}}
    <div class="d-flex justify-content-center vh-80">

      {{!-- div centra verticalmente el contenido --}}
      <div class="align-items-start w-100 mt-5" align="center" id="contenedorprincipal">

        <div class="w-100 mb-5">
          <h1> Informes </h1>
        </div>

        <table class="table-responsive-sm table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th scope="col"> No. Informe </th>
              <th scope="col"> Fecha de inicio </th>
              <th scope="col"> Fecha final </th>
              <th scope="col"> Subir PDF </th>
              <th scope="col"> Ver PDF </th>
            </tr>
          </thead>

          <tbody>
            {{#each consulta}}
            <tr>
              <th>{{no_informe}}<input type="hidden" value={{no_informe}} name="no_informe"></th>
              <td>{{fecha_inicio}}</td>
              <td>{{fecha_fin}}</td>
              <td><a href="/informe/cargar/{{id_informe}}" class="btn btn-outline-info"><i class="fas fa-upload"></i>&ensp;Subir PDF </a></td>
              <td><a href="/informe/verInforme/{{id_informe}}/{{id_proyecto}}" class="btn btn-outline-success"><i class="far fa-eye"></i>&ensp;Ver </a>
              </td>
            </tr>

            <input type="hidden" name="id_proyecto" id="" value="{{id_proyecto}}">

            {{!-- En caso de no encontrar informes --}}
            {{else}}
            <div class="card bg-light mb-3" style="max-width: 50rem;">
              <div class="card-header" align="left"> ¡MENSAJE! </div>
              <div class="card-body">
                <p class="card-text"> NO SE ENCUENTRA REGISTRADO NINGUN INFORME. </p>
                {{#if lider}}
                <a href="/informe/add"> Crear nuevo proyecto. </a>
                {{/if}}
              </div>
            </div>

            {{/each}}

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

{{!-- Media queries --}}
<style>
  @media (min-width: 768px) {
    #contenedorprincipal {
      width: 75% !important;
    }
  }

  @media (max-width: 767px) {
    #principal {
      margin-left: 0px !important;
    }
  }
</style>