{{!-- OBSERVACION DE INFORME -> administrador --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra. --}}
<div class="main" id="principal">

    {{!-- Este div permite ocupar el 100% del espacio vertical disponible --}}
    <div class="container w-100">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-80">

            {{!-- div centra verticalmente el contenido --}}
            <div class="align-items-start w-100 mt-5" align="center" id="contenedorprincipal">

                <div class="w-100">
                    <h1> Agregar Observaciones </h1>
                </div>

                <div class="d-flex justify-content-center">
                    <form action="/informe/observaciones/{{id_proyecto}}/{{id_informe}}" method="POST"
                        class="pt-2 w-100">

                        {{#if validacion}}
                        <input type="hidden" id="informe" value="{{id_informe}}">
                        <input type="hidden" id="resultado" value="{{validacion.id_proyecto}}">
                        <label for="etiqueta" style="color: red;" class="mb-5"> * Recuerde que la revision solo es una
                            vez </label><br><br>
                        <input type="hidden" id="revisiones" value="{{validacion.revisiones}}">
                        {{/if}}

                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12" align="center">
                                    <h1>
                                        <small class="text-muted"> Proyecto: {{proyectodisponible.titulo}}</small>
                                    </h1>
                                </div>
                            </div><br><br>

                            <div class="row">
                                <div class="col-sm-12" align="center">
                                    <label for="Anotaciones">Anotaciones:</label><br>
                                    <textarea name="anotaciones" id="observaciones" rows="10" class="form-control"
                                        onkeypress="validarEntrada(event)" required></textarea>
                                </div>
                            </div><br><br><br>

                            <div class="row">
                                <div class="col-sm-12" align="center">
                                    <button class="btn btn-outline-primary col-sm-4 btn-block">
                                        <i class="fas fa-pencil-alt"></i>&emsp;Agregar observacion
                                    </button>
                                </div>
                            </div><br><br>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Media queries --}}
<style>
    @media (min-width: 768px) {
        #contenedorprincipal {
            width: 75% !important;
        }
    }

    @media (max-width: 767px) {
        #principal {
            margin-left: 0px !important;
        }
    }
</style>

{{!-- Validaciones con JS --}}
<script>

    window.onload = load;

    function load() {

        var resul = document.getElementById("resultado");
        //var intentos=resul.value;
        //console.log(intentos);
        if (resul) {
            var intentos = document.getElementById("revisiones").value;
            var inf = document.getElementById("informe").value;
            if (intentos < 1) {
                var r = confirm("Recuerde que solo tenra una oportunidad de revisarlo");
                if (r == true) {
                    // txt = "You pressed OK!";

                } else {
                    //txt = "You pressed Cancel!";

                    window.location.href = "/informe/verInforme/" + inf + "/" + resul.value;
                }
            } else {

                //boton.setAttribute("disabled","true");
                alert("ya  no puede realizar observaciones");
                window.location.href = "/informe/verInforme/" + inf + "/" + resul.value;

            }

        } else {
            console.log("no hay")

        }

    }

    function validarObs() {
        var contenido = document.getElementById("observaciones").value;
        console.log(contenido);
        if (contenido.length == 0) {
            event.preventDefault();
        }

    }

    function validarEntrada(event) {
        var a = document.getElementById("observaciones");
        var b = a.value;
        console.log(event.charCode);

        if ((event.charCode >= 48 && event.charCode <= 59) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 241) ||
            (event.charCode == 209) || (event.charCode == 32) || (event.charCode == 13) ||
            (event.charCode >= 44 && event.charCode <= 46)) {
            a.value = (b + String.fromCharCode(event.charCode)).toUpperCase();
        }

        event.preventDefault();

    }
</script>